# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (keep all datasets out of Git)
data/

# Large numpy arrays (keep out of Git)
*.npy
